@using WordCounter.ViewModels.Home;
@model IndexModel
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Word Counter</h1>
  </div>
  <div id="word-counter-form">
    @Html.Partial("WordCounterForm")
  </div>
  @if(Model.DisplayMatchResults)
  {
    <div id="word-counter-results">
      @Html.Partial("WordCounterResult")
    </div>
  }
</div>
