<form action="/results" method="post">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="input-sentence">Enter some text:</label>
        <textarea class="form-control" id="input-sentence" name="input-sentence" required></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="input-word">Enter a word to look for:</label>
        <input class="form-control" id="input-word" name="input-word" type="text" required>
      </div>
      <button class="btn" type="submit" name="submit-button">Look 👀</button>
    </div>
  </div>
</form>
