@using WordCounter.ViewModels.Home;
@model IndexModel

<div class="well">
  <h3>Searching for...</h3>
  <p>"@Model.InputWord"</p>
  <h3>In text...</h3>
  <p>"@Model.InputSentence"</p>
  <h2>Your word appeared @Model.MatchCount @((Model.MatchCount != 1) ? "times" : "time").</h2>
</div>
